body{
    background-color: rgb(226, 226, 226);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Reset start */

button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
sup{
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
/* Reset end */

/* Section 2 styles */

.container{
    max-width: 52rem;
    height: 100%;
    margin: 1rem auto;
    border: .1rem solid rgb(207, 207, 207);
    background-color: #fff;
    border-radius: .2rem;
}
.section_first{
    box-sizing: border-box;
    margin: 1rem auto 0;
    max-width: 50rem;
    background-color: #ffffff;
    height: 100%;
    border: .15rem solid rgb(230, 230, 230);
    border-radius: .2rem;
    padding: 1rem;
    position: relative;
}
.breakfast{
    position: absolute;
    z-index: 10;
    left: -.7rem;
    top: 1.6rem;
}
.rectangle{
    box-sizing: border-box;
    width: 6.6rem;
    height: 1.2rem;
    background-color: rgb(18, 122, 4);
    font-size: .63rem;
    text-align: center;
    padding-top: .29rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: .045rem;
    border-radius: .1rem;
    box-shadow: 0 0 .2rem black;

}
.triangle{
    width: 0;
	height: 0;
	border-top: .6rem solid rgb(18, 122, 4); 
	border-left: .6rem solid transparent;
}
.turn{
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    border: .02rem solid rgb(224, 223, 223);
    border-radius: .2rem;
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    background: #fff;
    box-shadow: 0 0 .1rem grey;
}
.turn img{
    width: .9rem;
    height: .9rem;
    position: absolute;
}
.turn:hover{
    cursor: pointer;
}
.section_first-main{
    display: flex;
}
.hotel1_photo{
    position: relative;
    width: 15rem;
    height: 12rem;
    background: url(./../img/hotel1_photo.jpg);
    border-radius: .3rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 3;
}
.like{
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
}
.like img{
    position: absolute;
}
.like_button{
    position: absolute;
    top: .3rem;
    right: .3rem;
    width: 2rem;
    height: 2rem;
}
.like_button img{
    width: 1.9rem;
    height: 1.9rem;
    opacity: .7;
}
.like_button img:hover{
    opacity: 1;
}
.hotel_description{
    display: flex;
    flex: 8;
    height: 4.8rem;
}
.hotel_desc{
    flex: 8;
    padding-left: 1rem;
}
.hotel1_content{
    padding: .3rem 0 0 0;
    flex: 9;
}
.hotel1_name{
    text-decoration: none;
    color: #0071c2;
    font-size: 1.25rem;
    font-weight: bold;
}
.hotel1_name:hover{
    color: rgb(179, 86, 11);
}
.stars_like_genius{
    display: flex;
    justify-content: space-between;
    width: 9rem;
    margin-top: .4rem;
}
.stars{
    display: flex;
    padding-top: .38rem;
}
.stars img{
    width: .8rem;
    height: .8rem;
}
.like{
    padding-top: .19rem;
}
.like img{
    width: 1.25rem;
    height: 1.25rem;
}
.genius{
    box-sizing: border-box;
    width: 3.18rem;
    height: 1.25rem;
    font-size: 0.9rem;
    text-align: center;
    color: white;
    margin-top: .18rem;
    border-radius: .13rem;
    padding-top: .18rem;
    background-color:  #0071c2;
    box-shadow: 0 0 .06rem #000;
    position: relative;
}
.genius_dot{
    position: absolute;
    top: -.19rem;
    left: 1.478rem;
}
.location{
    display: flex;
    justify-content: space-between;
    width: 8rem;
    margin-top: .6rem;
}
.location_link, .location_map-link{
    font-size: .7rem;
}
.location_split{
    width: .2rem;
    height: .2rem;
    margin-top: .25rem;
    border-radius: 50%;
    background-color: rgb(189, 188, 188);
}
.location_link a, .location_map-link a{
    color: #0071c2;
    font-weight: bold;
    font-size: .75rem;
}
.hotel_mark{
    height: 2.5rem;
    flex: 3;
    display: flex;
    justify-content: space-around;
    padding-top: .3rem;
}
.mark_word{
    font-weight: bold;
    font-size: 1.15rem;
    color: rgb(12, 12, 124);
}
.mark_reviews{
    font-size: .7rem;
    font-weight: 600;
    margin-top: .3rem;
    color: rgb(134, 133, 133);
    text-align: right;
}
.hotel_mark-number{
    box-sizing: border-box;
    width: 2.1rem;
    height: 2.1rem;
    font-size: 1rem;
    background-color:  rgb(12, 12, 124);
    color: #fff;
    border-radius: .5rem  .5rem  .5rem 0;
    padding: .58rem 0 0 .35rem;
    box-shadow: 0 0 .06rem #000;
}
.for_adults{
    box-sizing: border-box;
    width: 100%;
    height: 1.9rem;
    margin: .65rem 0 0 0;
    background-color: rgb(245, 252, 255);
    font-size: .7rem;
    font-weight: bold;
    border-radius: .3rem;
    padding: .58rem 0 0 .45rem;
}
.services{
    display: flex;
    margin-top: .7rem;
}
.persons{
    display: flex;
}
.persons img{
    width: .75rem;
    height: .75rem;
}
.services_desc{
    padding-left: .6rem;
    font-size: .75rem;
}
.services_desc div:first-child{
    font-weight: bold;
    color: #5c9dcc;
}
.services_desc div:nth-child(2),
.services_desc div:nth-child(3),
.services_desc div:nth-child(4),
.services_desc div:nth-child(5){
    margin-top: .38rem;
    color: rgb(82, 80, 80);
    box-sizing: border-box;
}
.services_desc div:nth-child(4){
    font-weight: bold;
    color: rgb(17, 141, 17);
}
.services_desc div:nth-child(5){
    color: rgb(17, 141, 17);
}
.services_desc div:nth-child(6){
    margin-top: .5rem;
    font-weight: bold;
    color: rgb(206, 7, 7);
}
.services_desc div:nth-child(2) img{
    padding-bottom: .15rem;
}
.prices{
    display: flex;
    justify-content: flex-end;
}
.price{
    display: flex;
    justify-content: flex-end;
    
}
.prices_area{
    width: 9.4rem;
    color: rgb(143, 143, 143);
    font-size: .75rem;
    text-align: right;
}
.price_main{
    display: flex;
    justify-content: flex-end;
    margin: .3rem 0 .3rem 0;
}
.price_before{
    box-sizing: border-box;
    padding-top: .15rem;
    text-decoration: line-through;
    margin-right: .3rem;
}
.price_after{
    font-size: 1rem;
    color: #000;
    font-weight: 600;
}
.availability_link{
    box-sizing: border-box;
    width: 9.4rem;
    height: 2.2rem;
    margin-top: .7rem;
    text-align: center;
    padding-top: .75rem;
    border-radius: .2rem;
    background-color: #0071c2;
}
.availability_link:hover{
    background-color: #0461a3;
    cursor: pointer;
}
.availability_link a{
    text-decoration: none;
    color: #fff;
}
.availability_link img{
    margin-left: .4rem;
    width: .7rem;
    height: .7rem;
}

/* Section 2 styles */

.section_second{
    box-sizing: border-box;
    margin: 1rem auto 1rem;
    max-width: 50rem;
    background-color: #ffffff;
    height: 100%;
    border: .15rem solid rgb(230, 230, 230);
    border-radius: .2rem;
    padding: 1rem;
    position: relative;
}
.section_second-main{
    display: flex;
}
.hotel2_photo{
    position: relative;
    width: 15rem;
    height: 12rem;
    background: url(./../img/hotel2_photo.jpg);
    border-radius: .3rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 3;
}
.hotel2_content{
    padding: .3rem 0 0 0;
    flex: 9;
}
.hotel2_content .location{
    width: 8.75rem;
}
.hotel2_content-section{
    display: flex;
}
.villas{
    text-align: center;
    box-sizing: border-box;
    padding: .33rem 0 0 0;
    width: 2.8rem;
    font-size: .9rem;
    height: 1.5rem;
    margin: -.13rem .26rem 0 0;
    border-radius: .13rem;
    color: #fff;
    background-color: rgb(66, 117, 14);
    box-shadow: 0 0 .06rem #000;
}
.hotel2_content .stars_like_genius{
    margin: -.15rem 0 0 .4rem;
    width: 8rem;
}
.hotel2_name{
    text-decoration: none;
    color: #0071c2;
    font-size: 1.25rem;
    font-weight: bold;
}
.hotel2_name:hover{
    color: rgb(179, 86, 11);
}
.section_second .for_adults{
    margin-top: -1rem;
}
