body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
}
/* Reset button */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
/* Skrollbar style start */
.users_online::-webkit-scrollbar,
.messages_area::-webkit-scrollbar{
    width: .6rem;
}
.users_online::-webkit-scrollbar-track,
.messages_area::-webkit-scrollbar-track{
    background-color: #CEB4D6;
    border-radius: 1.9rem;
}
.users_online::-webkit-scrollbar-thumb,
.messages_area::-webkit-scrollbar-thumb{
    border: .2rem solid #CEB4D6;
    border-radius: 3.5rem;
    background-color: #AA90B2;
}
.users_online::-webkit-scrollbar-thumb:hover,
.messages_area::-webkit-scrollbar-thumb:hover{
    background-color: #a96ebb;
}
/* Skrollbar style end */
.container{
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(292.42deg, rgba(54, 3, 91, 0.83) 47.4%, rgba(79, 32, 114, 0.48) 122.58%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1.2rem 1.2rem 0 1.2rem;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.main{
    max-width: 90rem;
    height: 100%;
    margin: 0 auto;
}

/* Header styles start */

.header{
    max-width: 78.5rem;
    height: 7%;
    margin: 0 auto;
    background: linear-gradient(rgba(97, 46, 118, 0),rgba(65, 5, 86, 1));
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1.4rem 0 1.4rem;
}
.logo{
    max-width: 12.1rem;
}
.logo_item img{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo_item img:hover{
    opacity: .6;
    transition: .5s;
}
.sign_in-link:hover{
    opacity: .5;
}
.sign_link:hover,
.register_button:hover{
    background-color: #ED5D5D;;
}

/* Header styles end */

/* Main content styles end */

.sign_menu{
    max-width: 78.5rem;
    height: 80%; 
    background: linear-gradient(103.15deg, rgba(0, 0, 0, 0.1) 11.03%, rgba(249, 249, 249, 0.1) 102.18%);
    padding: 0 2rem;
    box-sizing: border-box;
    display: none;  
    margin: 0 auto;  
}
.form_wrapper{
    width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sign_menu input,
.register_menu input{
    width: 100%;
    height: 2.5rem;
    background-color: #D6CCF3;
    border-radius: 3rem;
    border: none;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 1rem 1rem 1rem 2rem;
    box-sizing: border-box;
}
.sign_button{
    width: 50%;
    height: 2.6rem;
    background-color: #E89F5C;
    border-radius: 3rem;
    margin: 0 auto;
    margin-top: 1.9rem;
}
.sign_button:hover{
    background-color: #e68831;;
}
.sign_link{
    width: 40%;
    height: 19px;
    background: #DF8383;
    border-radius: 2rem;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    text-align: center;
    margin: 2rem auto;
}

.register_menu{
    max-width: 78.5rem;
    height: 80%; 
    margin: 0 auto;
    background: linear-gradient(103.15deg, rgba(0, 0, 0, 0.1) 11.03%, rgba(249, 249, 249, 0.1) 102.18%);
    align-self: center;
    padding: 0 2rem;
    box-sizing: border-box;
    display: none;
}
.register_button{
    width: 50%;
    height: 2.8rem;
    background-color: #DF8383;
    border-radius: 3rem;
    margin: 0 auto;
    margin-top: 1.9rem;
}
.return_button:hover{
    opacity: .5;
}

.main_messages{
    margin: 0 auto;
    display: flex;
    max-width: 78.5rem;
    height: 80%; 
}
.sider{
    min-width: 200px;
    width: 100%;
    height: 100%;
    background-color: #410556;
    flex: 2;
    display: flex;
    flex-direction: column;
}
.close_button{
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 1rem 1rem 0 0;
    display: none;
}
.close_button img:hover{
    opacity: .5;
}
.close_button img{
    width: 1.4rem;
    height: 1.4rem;
}
.user_main{
    max-width: 11.5rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .5rem auto 0 auto;
}
.user_photo{
    width: 2.6rem;
    height: 2.6rem;
    background-color: rgb(165, 165, 165);
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 16px;
    letter-spacing: -1.5px;
    justify-content: center;
    align-items: center;
}
.users_buttons{
    display: flex;
    background-color: tomato;
    height: 2rem;
    width: 95%;
    margin-top: 1rem;
    background-color:#410556;
}
.user_button{
    align-items: center;
    width: 50%;
    color: rgb(243, 180, 180);
}
.user_button:hover{
    background-color: #9061A0;
}
.user_name{
    width: 8.5rem;
    height: 1.1rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    color: #FFFFFF;
}
.users_online-search_area{
    max-width: 10.5rem;
    height: 1.7rem;
    margin: 0 auto;
    margin-top: 0.9rem;
}
.users_online-search_input{
     max-width: 100%;
     height: 0.7rem;
     padding: .2rem;
     font-size: .9rem;
     background-color:#410556;
     border:0;
     color:rgba(229, 229, 229, 0.34);
}
.users_online-search_underline{
    height: .1rem;
    background-color:rgba(229, 229, 229, 0.34);
    border-radius: 5px;
}
.users_online-search_input::placeholder{
    color: rgba(229, 229, 229, 0.34);
}
.main_chat{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    padding: 0 .7rem 0 .9rem;
    box-sizing: border-box;
    color: white;
}
.main_chat:hover{
    background-color: #9061A0;
    cursor: pointer;
}
.users_online{
    height: 100%;
    margin-top: .6rem;
    overflow-y: scroll;
}
.user_online{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3.5rem;
    padding: 0 .7rem 0 .9rem;
    box-sizing: border-box;

}
.user_online:hover{
    background-color: #9061A0;
    cursor: pointer;
}

.user_online-photo{
    width: 1.8rem;
    height: 1.8rem;
    background-color: rgb(165, 165, 165);
    border-radius: 50%;
    color: white;
    display: flex;
    font-size: 13px;
    letter-spacing: -1.5px;
    justify-content: center;
    align-items: center;
}
.user_online-name{
    width: 8rem;
    height: 1.2rem;
    font-size: .85rem;
    line-height: 1rem;
    text-align: left;
    margin-left: .6rem;
    color: #FFFFFF;
}
.messages{
    width: 100%;
    height: 100%;
    background-color: #D6CCF3;
    flex: 10;
    display: flex;
    flex-direction: column;
}
.messages_search{
    max-width: 100%;
    height: 3rem;
    background-color: #8B4EA0;
    box-sizing: border-box;
    padding: 0 1.5rem 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.messages_search-user_menu img,
.user_menu-button{
    width: 1.1rem;
    height: 1.1rem;
    display: none;
}
.messages_search-user_menu img:hover{
    opacity: .5;
}
.search_areas{
    display: flex;
    justify-content: space-between;
    max-width: 28.1rem;
}
.search_area{
    width: 6.5rem;
    height: 1.6rem;
    margin-left: .7rem;
}
.search_area:nth-child(3),
.search_area:nth-child(4){
    width: 3rem;
}
.search_input{
     width: 100%;
     height: .9rem;
     padding: .1rem;
     font-size: .7rem;
     background-color: #8B4EA0;
     color: #e2bef3;
     border:0;
     
     box-sizing: border-box;
}
.search_input::placeholder{
    color: #e2bef3;
}
.search_underline{
    width: 100%;
    height: .13rem;
    background-color: #E2BEF3;
    border-radius: .3rem;
}
.messages_download-button{
    width: 1.2rem;
    height: 1rem;
    margin: 0 auto;
}
.messages_download-button_item{
    width: 1.2rem;
    height: 1rem;
}
.messages_download-button_item:hover{
    cursor: pointer;
    opacity: .5;
}
.messages_download-button_item img{
    width: 1.2rem;
    height: .7rem;
}
.messages_area{
    height: 76vh;
    padding: .3rem .9rem .3rem .9rem;
    overflow-y: scroll;
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, .05) inset; 
    display: flex;
    flex-direction: column;   
}
.messages_area-incoming{
    max-width: 23.7rem;
    margin-right: auto;
    margin-top: .3rem;
}
.messages_area-incoming_item{
    display: flex;
}
.incoming_item-photo{
    min-width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background-color: #E7DCDC;
    color: rgb(97, 30, 30);
    display: flex;
    font-size: 13px;
    letter-spacing: -1.5px;
    justify-content: center;
    align-items: center;
}
.incoming_item-message{
    margin-left: .5rem;
}
.incoming_item-message_adressee{
    font-size: .6rem;
    line-height: .6rem;
    color: #3C0556;
}
.incoming_item-message_text{
    max-width: 19.3rem;
    font-size: .7rem;
    color: #C9B2D8;
    line-height: .8rem;
    text-align: justify;
    padding: .3rem .6rem .3rem .6rem;
    background: rgba(60, 5, 86, 0.83);
    border-radius: 0px .6rem .6rem .6rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    line-break: auto;
}
.incoming_item-message_date{
    text-align: right;
    font-size: .5rem;
}
.messages_area-outgoing{
    max-width: 23.7rem;
    margin-left: auto;
    margin-top: .3rem;
    display: flex;
}
.messages_area-outgoing_item{
    display: flex;
    margin-left: auto;
}
.outgoing_item-photo{
    min-width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    background-color: #E7DCDC;
    margin-left: .6rem;
    color: rgb(97, 30, 30);
    display: flex;
    font-size: 13px;
    letter-spacing: -1.5px;
    justify-content: center;
    align-items: center;
}
.outgoing_item-message_adressee{
    font-size: .6rem;
    line-height: .6rem;
    text-align: right;
    color: #000000;
}
.outgoing_item-message_text{
    max-width: 19.3rem;
    font-size: .7rem;
    color: #615F5F;
    line-height: .8rem;
    padding: .3rem .6rem .3rem .6rem;
    background: #E8DCF2;
    text-align: justify;
    border-radius: .6rem 0 .6rem .6rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    line-break: auto;
}
.message_buttons{
    max-width: 2.3rem;
    padding-top: .3rem;
    display: flex;
    justify-content: space-between;
}
.message_edit-button:hover,
.message_delete-button:hover{
    cursor: pointer;
    opacity: .5;
}
.outgoing_item-message_date{
    text-align: right;
    font-size: .5rem;
    color: #A64FEB;
    margin-top: -.1rem;
}
.send_message{
    display: flex;
    margin-bottom: .3rem;
    box-sizing: border-box;
    margin-top: auto;
    align-items: center;
}
.send_message-clip_button,
.send_message-send_button{
    padding: 1rem 0 0 0;
    flex: 1;
}
.send_message-clip_button img,
.send_message-send_button img{
    width: 1.5rem;
    height: 1.5rem;
}
.send_message-clip_button img:hover,
.send_message-send_button:hover{
    opacity: .5;
    cursor: pointer;
    
}
.send_message-description{
    margin-left: 1.2rem;
    color: #38014B;
    font-size: .7rem;
}
.send_message-form{
    flex: 10;
}
.send_message-form input{
    width: 100%;
    height: 2.5rem;
    color: #24013b;
    font-size: .9rem;
    background: #FFFFFF;
    opacity: .5;
    box-shadow: .025rem .012rem .5rem .025rem rgba(0, 0, 0, 0.25);
    border-radius: 1.9rem;
    border: none;
    padding: 0 1rem 0 1rem;
    box-sizing: border-box;

}
.send_message-form input:focus{
    border: .025rem solid #ac70c0;
}

/* Main content styles end */

/* Footer styles start */

.footer{
    max-width: 78.5rem;
    height: 4rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 1.4rem 0 1.4rem;
    background: linear-gradient(rgba(50, 6, 84, 1),rgba(88, 23, 139, 0));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author{
    width: 8.8rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .3rem;
}
.author_name{
    font-size: .8rem;
    line-height: 1rem;
    text-align: center;
    color: white;
}
.email_link .iconify{
    color: #ffffff;
    font-size: 1.9rem
}
.email_link:hover{
    opacity: .5;
}
.chat_name{
    max-width: 10rem;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #FFFFFF;
    margin-left: .6rem;
}
.update_date{
    font-size: .8rem;
    line-height: 1rem;
    text-align: center;
    color: white;
    padding-top: .3rem;
    margin-left: .6rem;
}

/* Footer styles end */



@media screen and (max-width: 750px){
    .sider{
        display: none;
    }
    .close_button{
        display: block;
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        padding: 1rem 1rem 0 0;
    }
    .search_area{
        margin-left: .6rem;
        width: 5.9rem;
    }
    .search_areas{
        margin-left: .6rem;
    }
    .messages_search-user_menu img,
    .user_menu-button{
        width: 1.1rem;
        height: 1.1rem;
        display: block;
}
    .search_area input{
        font-size: .7rem;
        width: 100%;
    }
    .send_message{
        padding: 0 .6rem 0 .6rem;
    }
    .send_message-description{
        font-size: .7rem;
    }
    .send_message-clip_button{
        margin-right: .3rem;
    }
    .send_message-send_button{
        margin-left: .3rem;
    }
    
}
@media screen and (max-width: 500px){
    .messages_area-outgoing {
        margin-left: 3rem;
    }
    .messages_area-incoming{
        margin-right: 3rem;
    }
    .send_message-clip_button img,
    .send_message-send_button img{
        width: 1.25rem;
        height: 1.25rem;
    }
    .author {
        width: 6.25rem;
    }
    .author_name {
        font-size: .6rem;
        line-height: .8rem;
    }
    .email_link .iconify{
        font-size: 1.5rem;
    }
    .chat_name{
        font-size: 1.25rem;
    }
    .update_date {
        font-size: .6rem;
        line-height: .7rem;
    }
}
@media screen and (max-width: 450px){
    .logo{
        max-width: 9.6rem;
    }
    .messages_search {
        padding: 0 .6rem 0 1.5rem;
    }
    .search_area{
        margin-left: .3rem;
        width: 4.3rem;
    }
    .author {
        width: 5rem;
    }
    .author_name {
        font-size: .5rem;
    }
    .email_link .iconify{
        font-size: 1.25rem;
    }
}