body{
    font-family: 'Roboto', sans-serif;   
}
.container{
    max-width: 100%;
    height: 900px;
    background: linear-gradient(292.42deg, rgba(54, 3, 91, 0.83) 47.4%, rgba(79, 32, 114, 0.48) 122.58%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 60px;
    background-position: center center;
    background-repeat: no-repeat;
}
.main{
    max-width: 1440px;
    height: 900px;
    margin: 0 auto;
}

/* Header styles start */

header{
    max-width: 1258px;
    height: 64px;
    margin: 0 auto;
    background: linear-gradient(rgba(97, 46, 118, 0),rgba(65, 5, 86, 1));
    display: flex;
    justify-content: space-between;
}
.logo{
    padding-top: 15px;
    padding-left: 32px;
    max-width: 195px;
}
.logo_item img{
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo_item img:hover{
    opacity: .6;
    transition: .5s;
}
.sign_in{
    padding-top: 16px;
    padding-right: 19px;
}
.sign_in:hover{
    opacity: .5;
}


/* Header styles end */

/* Main content styles end */

.main_messages{
    margin: 0 auto;
    display: flex;
    max-width: 1258px;
    height: 648px; 
}
.sider{
    width: 100%;
    height: 648px;
    background-color: #410556;
    flex: 3;
}
.sider:hover{
    overflow: auto;
}
.user_main{
    max-width: 259px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding: 16px 25px 0 25px;
}
.user_photo{
    width: 42px;
    height: 42px;
    background-color: rgb(165, 165, 165);
    border-radius: 50%;
}
.user_name{
    width: 134px;
    height: 19px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 12px;
}
.users_online-search_area{
    max-width: 176px;
    height: 27px;
    margin: 0 auto;
    margin-top: 15px;
}
.users_online-search_input{
     max-width: 130px;
     height: 13px;
     padding: 3px;
     font-size: 14px;
     background-color:#410556;
     border:0;
     color:rgba(229, 229, 229, 0.34);
}
.users_online-search_underline{
    height: 2px;
    background-color:rgba(229, 229, 229, 0.34);
    border-radius: 5px;
}
.users_online{
    margin-top: 15px;
}
.user_online{
    display: flex;
    height: 52px;
    padding: 15px 0 0 40px;
}
.user_online:hover{
    background-color: #9061A0;
    cursor: pointer;
}

.user_online-photo{
    width: 31px;
    height: 31px;
    background-color: rgb(165, 165, 165);
    border-radius: 50%;
}
.user_online-name{
    width: 134px;
    height: 19px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 9px;
    padding-left: 20px;
}
.messages{
    width: 100%;
    height: 648px;
    background-color: #D6CCF3;
    flex: 9;
}
.messages_search{
    max-width: 998px;
    height: 40px;
    background-color: #8B4EA0;
    padding: 22px 19px 0 50px;
}
.search_areas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 450px;
}
.search_area{
    width: 136px;
    height: 27px;
}
.search_input{
     max-width: 130px;
     height: 13px;
     padding: 3px;
     font-size: 14px;
     background-color: #8B4EA0;
     border:0;
     color: #e2bef3;
}
.search_underline{
    max-width: 136px;
    height: 2px;
    background-color: #E2BEF3;
    border-radius: 5px;
}
.messages_download-button{
    width: 25px;
    height: 15px;
    margin: 0 auto;
}
.messages_download-button:hover{
    cursor: pointer;
    opacity: .5;
}
.messages_download-button img{
    width: 25px;
    height: 15px;
}
.messages_area{
    max-width: 998px;
    height: 505px;
}
.messages_area-incoming{
    padding-left: 30px;
    max-width: 430px;
    margin-right: auto;
}
.messages_area-incoming_item{
    margin-top: 7px;
    max-width: 380px;
    height: 57px;
    display: flex;
}
.incoming_item-photo{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #E7DCDC;
    margin-right: 10px;
}
.incoming_item-message{
    width: 100%;
}
.incoming_item-message_adressee{
    width: 70px;
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    color: #3C0556;
}
.incoming_item-message_text{
    width: 309px;
    height: 30px;
    font-size: 11px;
    color: #C9B2D8;
    line-height: 12px;
    padding: 5px 15px 5px 10px;
    background: rgba(60, 5, 86, 0.83);
    border-radius: 0px 20px 20px 20px;
}
.incoming_item-message_date{
    text-align: right;
    font-size: 6px;
}






.messages_area-outgoing{
    max-width: 430px;
    padding-right: 30px;
    margin-left: auto;
}
.messages_area-outgoing_item{
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}
.outgoing_item-photo{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    background-color: #E7DCDC;
    margin-left: 10px;
}
.outgoing_item-message_adressee{
    width: 70px;
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    color: #000000;
}
.outgoing_item-message_text{
    width: 309px;
    height: 50px;
    font-size: 11px;
    color: #615F5F;
    line-height: 12px;
    padding: 5px 15px 5px 10px;
    background: #E8DCF2;
    border-radius: 20px 0px 20px 20px;
}
.message_buttons{
    width: 37px;
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}
.message_edit-button:hover,
.message_delete-button:hover{
    cursor: pointer;
    opacity: .5;
}
.outgoing_item-message_date{
    text-align: right;
    font-size: 6px;
    color: #A64FEB;
    margin-top: -3px;
}







.send_message{
    /* padding: 0 20px 0 20px; */
    display: flex;
    justify-content: space-between;
}
.send_message-clip_button img{
    width: 26px;
    height: 26px;
    margin: 14px 0 0 25px;
}
.send_message-clip_button img:hover,
.send_message-send_button:hover{
    opacity: .5;
    cursor: pointer;
}
.send_message-send_button{
    width: 26px;
    height: 26px;
    padding: 12px 15px 0 0;
}
.send_message-send_button img{
    width: 26px;
    height: 26px;
}
.send_message-description{
    margin-left: 20px;
    color: #38014B;
    font-size: 14px;
}
.send_message-form{
    max-width: 850px;
    /* padding: 0px 15px 0 15px; */
    margin: 0 60px 0 70px;
    margin-top: -57px;
}
.send_message-form input{
    width: 100%;
    height: 50px;
    color: #24013b;
    font-size: 14px;
    background: #FFFFFF;
    opacity: .5;
    box-shadow: 5px 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    border: none;
}
.send_message-form input:focus{
    border: 3px solid #ac70c0;
}


/* Main content styles end */

/* Footer styles start */

.footer{
    max-width: 1258px;
    height: 72px;
    margin: 0 auto;
    background: linear-gradient(rgba(50, 6, 84, 1),rgba(88, 23, 139, 0));
    display: flex;
    justify-content: space-between;
}
.author{
    width: 140px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 22px 0 0 30px;
}
.author_name{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
    padding-top: 7px;
}
.email_link:hover{
    opacity: .5;
}
.chat_name{
    max-width: 160px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;
    padding-top: 22px;
}
.update_date{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: white;
    padding: 31px 30px 0 0;
}

/* Footer styles end */
